*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

.FileDiv{
    width: 90%;
    height: 60px;
    background-color: rgba(143, 47, 233, 0.555);
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(0, 217, 255);

}
.FileDiv img{
    border-radius: 5px;
    background-color: red;
}
.FileDiv .fileDescription{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin-left: 5%;
    justify-content: space-evenly;
}
body{
    background-color: rgb(94, 94, 94);
}
.FileDiv .fileDescription h1{
    font-size: medium;
}

.FileDiv .fileDescription h2{
    font-size: small;
}
.FileDiv .p{
    justify-self:  flex-end;
}

.fileSection{
    width: 65%;
    border: 1px solid green;
    float: right;
}

.playPauseButton{
    width: 50px;
    background-color: rgba(29, 143, 163, 0.767);
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 5px 5px white;
    height: 50px;
    padding: 10px;
}

.musicBar{
    width: 95%;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 255, 255, 0.397);
    border: 7px solid aquamarine;
    border-radius: 10px;
    right: 50%;
    transform: translate(50%, -10%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    box-shadow: 0px 0px 10px 5px rgb(0, 217, 255);
}